<!DOCTYPE HTML>
<html>
<title>Health Monitoring System</title>
<head>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/style.css">
	<script src="../js/app.js"></script>
</head>

<body>

<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="d-flex justify-content-center">PATIENT PROCTOR</h1>
			<img src="../images/loginScreen.png" class="img-fluid">
		</div>
	</div>
	<br />
	<div class="row">
	<div class="col-12 d-flex justify-content-center">
		<button id="patient" type="button" class="btn btn-primary btn-sm btn-block" onclick="redirect()">PATIENT</button>
	</div>
	</div>
	<br />
	<div class="row">
	<div class="col-12 d-flex justify-content-center">
		<button id="attendee" type="button" class="btn btn-primary btn-sm btn-block" onclick="redirectToAttendee()">ATTENDEE</button>
	</div>
	</div>
</div>



</body>

</html>